<!--The content below is only a placeholder and can be replaced.-->

<div class="App">

    <form class="Input"º
          (submit)="newQuestion()">
        <input type="text"
               name="question"
               placeholder="¿Qué quieres saber?"
               [(ngModel)]="currentQuestion">
        <button type="submit">Dime!</button>
    </form>
    <div class="eball">
        <div class="egrad"></div>
        <div class="ewin"><div>
            <div class="triangle"></div>
            <div *ngFor="let response of responses">
            <div class="respons">{{response.answer.text}}</div>
            </div>
        </div>

<!--<div class="Output">
    <div *ngFor="let response of responses">
     <div class="question"> {{response.question}} </div>
        <div class="answer">{{response.answer.text}}</div>
    </div>-->
</div>
</div>
    </div>


